/* 
$beaver: rgba(164, 147, 135, 1);
$battleship-gray: rgba(124, 132, 128, 1);
$tyrian-purple: rgba(105, 35, 60, 1);
$rich-black: rgba(14, 17, 25, 1);
$feldgrau: rgba(68, 83, 76, 1); 


$alice-blue: rgba(245, 250, 253, 1); white
$rich-black: rgba(14, 17, 25, 1); navy
*/
/* ======================================================================================================================================= */
@font-face {
    font-family: appleFont;
    src: url(Fonts/SF-Pro.ttf);
}

html {
    height: 100%;
    font-family: appleFont;
    min-width: 45rem;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}
/* ================================================================ INDEX ================================================================ */
.IndexBody {
    background-image: url("Images/mountain.jpg");
    background-position: center;
    display: flex;
    margin: 0;
    justify-content: center;
    background-size: cover;
}
/* For tint on image*/
.IndexBody::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.IndexContent h1 {
    margin-bottom: 0;
}
.IndexContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: rgba(245, 250, 253, 1);
    margin-left: 20rem;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid rgba(29, 42, 68, 1);
    white-space: nowrap;
    animation: 
        typing 2s steps(20, end) forwards,
        blink-caret 1s step-end infinite;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 20rem }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(29, 42, 68, 1); }
}


/* ================================================================ SIDEBAR ================================================================ */
.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    overflow-y: auto;
    background-image: linear-gradient(rgba(14, 17, 24, 1), rgba(19,30,54,255));
    padding: 1rem;
    box-sizing: border-box;
    color: rgba(245, 250, 253, 1);
    z-index: 10;
}
.SidebarProfile {
    text-align: center;
}
.Sidebar hr {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
   
}
.SidebarProfile h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.SidebarProfile img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease;
}
.SidebarProfile img:hover {
    transform: scale(1.1);
}

.SidebarContent a {
    color: gray;
    text-decoration: none;
    display: block;
    margin-bottom: 3rem;
    font-size: 1rem;
}
.SidebarContent svg {
    width: 3rem;
    height: auto;
    fill: gray;
    box-sizing: border-box;
    transition: padding 0.2s, border 0.2s;
}
.SidebarContent a:hover {
    color: rgba(245, 250, 253, 1);
}
.SidebarContent a:hover svg {
    fill: rgba(245, 250, 253, 1);
}

.SidebarProfileImage {
    width: 10rem;
    height: 10rem;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .7rem solid rgba(29, 42, 68, 1);
}

.SidebarProfileSocialMediaIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.SidebarProfileSocialMediaIcons svg {
    width: 3rem;
    fill: rgba(245, 250, 253, 1);
    /* margin-bottom: 2rem; */
    box-sizing: border-box;
    transition: padding 0.2s, border 0.2s;
}
.SidebarProfileSocialMediaIcons svg:hover {
    padding: 0.3rem;
}

/* ================================================================ HEADERS ================================================================ */
#header {
    position: fixed;
    top: 0;
    left: 19.5rem; 
    width: 100%;
    /* background: #305686; */
    background: #0f1219;
    z-index: 2;
    text-align: center;
    padding: .5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10rem;
}
#header a, #header .separator {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
#header a:hover {
  text-decoration:underline;
}
:target {
    scroll-margin-top: 4rem;
}
.headerLeft {
    margin-left: 1rem;
    color: white;
}
.headerRight {
    margin-right: 23rem;
    text-align: right;
}


/* ================================================================ RESUME ================================================================ */
#resume p, #transcript p {
    text-align: center;
}
.ResumeContentSectioniFrame {
    width: 100%;
    height: 40rem;
    border: none;
}


/* ================================================================ CONTENT TYPES ================================================================ */
@media (max-width: 768px) {
    .ContentLargeAbout {
        flex-direction: column;
    }
    .ContentLargeAbout img {
        margin-bottom: 1rem;
    }
    .infoGroup {
        flex-direction: column;
    }
}

.Content {
    margin-left: 20rem;
    padding: 3rem;
}

.ContentLarge {
    background: rgba(245, 250, 253, 1);
    margin-bottom: 3rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: .75rem;
}
.ContentLarge h2 {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}
.ContentLarge a, .ContentLarge a:visited {
    color: inherit;
    text-decoration: none;
}
.ContentLarge hr {
    border: none;
    height: 2px;
    background-color: #7b7b7b;
}

.ContentLargeAbout {
    display:flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.ContentLargeAboutInfo {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
}
.ContentLargeAboutInfoCol {
    margin-right: 2rem;
}
.ContentLargeAbout img {
    width: 15rem;
    border-radius: 0.5rem;
}
.infoGroup {
    display: flex;
    margin-right: 2rem;
    flex: 1;
}

.ContentLargeBlock {
    display: flex;
    align-items: center;
    background: rgba(245, 250, 253, 1);
    border-radius: .75rem;
    margin-top: 1rem;
    /* border: 0.1rem solid rgba(29, 42, 68, 1); */
    padding: 0.5rem;
}
.ContentLargeBlockInfo {
    flex-grow: 1;
    margin-left: 0.4rem;
}
.ContentLargeBlockInfo h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.ContentLargeBlockInfo h4 {
    margin-top: 1rem;
    margin-bottom: .25rem;
}
.ContentLargeBlockInfo p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.ContentLargeBlockInfo ul {
    margin-left: -1rem;
    margin-top: 0.1rem;
}

p.extra {
    margin-top: 1rem;
}
.ContentLargeBlockGraphic img {
    width: 5rem;
    padding: 1rem;
    border-radius: 50%;
}
.ContentSmall a {
    display: block;
    flex-basis: 48%;
    text-decoration: none;
    color: black;
}

.ContentLargeBlockInfoSmall {
    margin-bottom: 0.1rem;
}
.ContentLargeBlockInfoSmall a {
    display: flex;
    align-items: center;
    margin: .3rem;
}
.ContentLargeBlockInfoSmall img {
    margin-right: .25rem;
    width: 1.25rem;
    border-radius: 50%;
}

.ContentSmall {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex:1;
}
.ContentSmallBlock {
    background: rgba(245, 250, 253, 1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: .75rem;
    padding-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-basis: 48%;
    height: 20rem;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 3rem;
}
.ContentSmallBlock h2 {
    position: sticky;
    top: 0;
    background: rgba(245, 250, 253, 1);
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
    padding: .25rem;
}
.ContentSmallBlock ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.ContentSmallBlock ul li {
    margin-bottom: 0.4rem;
}
.ContentScroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.ContentScrollBlock {
    width: 16.5rem;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-left: .25rem;
    margin-right: .25rem;
    width: auto;
    display: inline-block;
    flex: 0 0 auto;
    background: white;
    transition: transform 0.15s ease;
}
.ContentScrollBlock:hover {
    transform: scale(.95);
}
.ContentScrollBlock h3, .ContentScrollBlock p {
    margin: 0.5rem;
}
.ContentScrollBlock img {
    width: 15rem;
    margin: .65rem;
    height: 12rem;
}


/* ================================================================ PORTFOLIO ================================================================ */

.skills {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .65rem;
    position: relative;
}
.skill-label {
    color: white;
    position: absolute;
    right: 10px;
    font-size: 0.75rem;
    top: 30%;
}
.python {width: 100%; border-radius: .5rem; background-color: #20314f;}
.java {width: 100%; border-radius: .5rem; background-color: #20314f;}
.html {width: 100%; border-radius: .5rem; background-color: #20314f;}
.js {width: 90%; border-radius: .5rem; background-color: #305686;}
.sql {width: 90%; border-radius: .5rem; background-color: #305686;}
.c {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.ocaml {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.racket {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.swift {width: 60%; border-radius: .5rem; background-color: #7cade9;}
.matlab {width: 60%; border-radius: .5rem; background-color: #7cade9;}
.r {width: 60%; border-radius: .5rem; background-color: #7cade9;}
.vs {width: 100%; border-radius: .5rem; background-color: #20314f;}
.mic {width: 100%; border-radius: .5rem; background-color: #20314f;}
.eclipse {width: 90%; border-radius: .5rem; background-color: #305686;}
.postman {width: 90%; border-radius: .5rem; background-color: #305686;}
.gappscript {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.xcode {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.pg {width: 80%; border-radius: .5rem; background-color: #4b78aa;}
.rs {width: 60%; border-radius: .5rem; background-color: #7cade9;}
.adobe {width: 60%; border-radius: .5rem; background-color: #7cade9;}



/* ================================================================ CONTACT ================================================================ */
.ContactContent {
    margin-left: 20rem;
    padding: 3rem;
}
.ContactContentLarge {
    background: rgba(245, 250, 253, 1);
    margin-bottom: 3rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: .75rem;
}
.ContactContentLarge h1 {
    font-size: 3rem;
    text-align: center;
}

.contact-info p {
    font-size: 1rem;
    text-align: left;
    margin-left: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact-form .form-group {
    margin-bottom: 1rem;
}

.contact-form .form-group label {
    display: block;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.contact-form .form-group textarea {
    height: 100px;
    resize: vertical;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}



.address-container {
    color: black;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
}
.address-icon {
    background: url('Images/Ritchie5.jpg');
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.address-title {
    font-size: 16px;
    margin-bottom: 5px;
}
  
/* .address {
    font-size: 14px;
    line-height: 1.6;
} */

#languages h3 {
    font-size: 1.5rem;
}