body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    /* color: white; */
}


.Sidebar {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 250px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
}
.SidebarProfile {
    text-align: center;
    margin-bottom: 20px;
}
.SidebarProfile img {
    width: 100px;
    border-radius: 50%;
    border-color: black;
}
.SidebarProfile h1 {
    margin: 10px 0;
}
.SidebarBody a {
    color: white;
    text-decoration: none;
    display: block;
}
.SocialMediaIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.SocialMediaIcons svg {
    width: 30px;
    height: auto;
    fill: white;
}


.IndexMain {
    background-image: url("Richie.JPG");
}